<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css">
  <link rel="shortcut icon" href="../images/logo_size_invert_nav.jpg" type="image/x-icon">
  <link rel="stylesheet" href="../css/custom.css">
  <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <title>Contacto</title>
</head>
<body id="body">
  <header>
    <nav id="nav" class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html"><img class="bg-img m-3 redondo" src="../images/logo_size_nav.jpg" alt="logo-nav"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="../index.html">Home</a>
            <a class="nav-link" href="../index.html">Productos</a>
            <a class="nav-link" href="../index.html">Servicios</a>
            <a class="nav-link active" aria-current="page" href="../index.html">Contacto</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <form id="form">
      <div class="container mt-5" style="max-width: 30rem;">
        <h1 class="card-title py-3 text-center text-white-50">Formulario de contacto</h1>
        <div class="card mb-3 color-card-form">
          <div class="card-body">
            <div class="mb-3">
              <label for="exampleFormControlInput1 mail" class="form-label">Ingresa tu email</label>
              <input id="email" type="email" class="form-control mb-3" id="exampleFormControlInput1 mail" aria-required="true" placeholder="name@example.com">
              <label for="exampleFormControlInput2" class="form-label">Nombre</label>
              <input id="campoNombre" type="text" class="form-control mb-3" id="exampleFormControlInput2" aria-required="true">
              <label for="exampleFormControlInput3" class="form-label">Telefono</label>
              <input id="number" type="number" class="form-control mb-3" id="exampleFormControlInput3" aria-required="true" placeholder="+569 12345678">
            </div>
            <div id="message" class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label color-text">Mensaje</label>
              <textarea class="form-control text-muted" id="exampleFormControlTextarea1" rows="3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae quia voluptates odit impedit explicabo numquam saepe rem dignissimos a nemo voluptate mollitia, perspiciatis, veniam eum suscipit libero officia sint nesciunt?</textarea>
            </div>
            <button id="button-form" type="submit" class="btn-lg btn-secondary fw-bold shrink text-white" style="background-color: rgb(105, 56, 105);">Enviar</button> 
          </div>
        </div>
      </div>
    </form>
  </main>
  <footer id="contacto">
    <div class="container p-4">
      <div class="row g-4 d-flex justify-content-between align-content-between">
        <button class="btn-lg btn-secondary fw-bold shrink text-white" style="background-color: rgb(105, 56, 105);" id="mostrar">Datos de Contacto</button>
        <div id="elemento" class="col-12 col-sm-6 col-md-6 p-3">
          <p>
            <i class="bi bi-person-lines-fill mr-3 text-black"></i> Agente Evelyn Gomez Frez
          </p>
          <p>
            <i class="bi bi-house-door mr-3 text-black"></i> Chile, Providencia 10012
          </p>
          <p><i class="bi bi-envelope mr-3 text-black"></i> info@gmail.com</p>
          <a href="https://wa.me/56984487732"><p><i class="bi bi-whatsapp mr-3 text-black">
          </i> 569 12345678</p></a>
          <button class="btn-lg btn-secondary fw-bold shrink text-white" style="background-color: rgb(105, 56, 105);" id="ocultar">Puedes ocultarme </button>
        </div>
      </div>
    </div>
  </footer>
  <script src="../js/index.js"></script>
  <script src="../js/contact.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.jsdelivr.net/npm/luxon@2.4.0/build/global/luxon.min.js"></script>
</body>
</html>
