footer{
  background-color: whitesmoke;
}

img{
  border-radius: 10px;
}

div {
  a:hover{
    text-decoration: underline;
    color: whitesmoke;
    font-family: Verdana, sans-serif;
    font-size: 16px;
  }

}

