footer{
  background-color: rgb(155, 170, 126);
}

img{
  border-radius: 10px;
}

a:active {
  text-decoration: none;
}

.personalizado{
  color: rgb(34, 25, 25);
  font-family: Verdana, sans-serif;
  font-size: 16px;
  
}